.App{
   border: solid;
   border-color: orangered;
   height: 80vh;
   width: 100%;
}
.Toolbar{
  border: solid;
  border-color: purple;
}
.Contents{
  border: solid;
  border-color: blue;
}
.TitleText{
  font-size: larger;
  font-family: Impact,Charcoal;
}
.ProductRow{
  border:solid;
}